
body {
  --Background-Color: hsl(0, 0%, 99%);
  --Text: hsl(200, 15%, 8%);
  --grey: hsl(0, 0%, 50%);
  --elements-color: white;

  background-color: var(--Background-Color);
  color: var(--Text);
}

.parent {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 0;
}
.parent > div {
  display: flex;
  align-items: center;
  gap: 100px;
}

.parent img {
  height: 380px;
  width: 510px;
  object-fit: cover;
  border: 1px solid var(--Background-Color);
}


.wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.countryName h3 {
  font-size: 2rem;
}

.content {
  display: flex;
  gap: 100px;
}

.left p,
.right p {
  font-size: 15px;
  line-height: 32px;
}


.borders {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.btnstyle {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btnstyle a {
  padding: 5px 15px;
  border-radius: 4px;
  background: var(--elements-color);
  color: var(--Text);
  text-decoration: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  transition: 0.2s ease;
}

.btnstyle a:hover {
  transform: translateY(-2px);
  cursor: pointer;
}


@media (max-width: 900px) {
  .parent > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .parent img {
    width: 100%;
    height: auto;
  }

  .content {
    flex-direction: column;
    gap: 40px;
  }
}
