.searchFilter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
}
.input {
  min-width: 320px;
  display: flex;
  height: 45px;
  align-items: center;
  color: var(--grey);
  background-color: inherit;
}
.input p {
  height: inherit;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  background: var(--elements-color);
  color: var(--Text);
}
.input i {
  vertical-align: middle;
  font-size: 14px;
  padding: 0 28px;
}
.input input {
  width: 100%;
  height: inherit;
  border: none;
  outline: 0;
  color: inherit;
  background: inherit;
}
.filter {
  height: 40px;
  width: 190px;
  display: flex;
  align-items: center;
  min-width: 150px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.filter select {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  background: var(--elements-color);
  color: var(--Text);
}
.filter select:focus {
  outline: none;
  border: none;
}